.home{
  display:flex;
  flex-wrap:wrap-reverse
}
.location-button{
  position: relative;
  padding:2px;
}

.form-page {
  background-color: #81776f;
    width:40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-header{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .form {
    position: relative;
    background: #cccccc;
    z-index: 1;
    width: 70%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .group{
    text-align:left;
   text-overflow: clip;
    margin-bottom: 5px;
  }
  .group label{
    display: inline;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    margin: 8px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 19px;
  }
  .form [type="text"]{
    width:100%;
  }
  .form [type="checkbox"]{
    margin-right: 5px;
  }
  .form .button {
    font-family: "Roboto", sans-serif;
    border-radius:10px;
    font-weight: 500;
    letter-spacing:0.5rem;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    width: 100%;
    border: 0;
    letter-spacing: 1.5;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #0099cc;
  }
  .form .button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
  }
  
  .form .button:disabled,
  .button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  @media screen and (min-width:1700px) {
    .form{
      width: 400px;
      padding: 60px;
      font-size: 2rem;
    }
    .login-header{
      font-size: 2rem;
    }
    .group{
      margin-bottom: 20px;
    }
    .group label{
      font-size: 1.8rem;
    }
    .form input{
      font-size: 1.7rem;
      padding:20px;
    }
    .form .button{
      font-size: 1.5rem;
      padding:25px;
    }
    .form [type="checkbox"]{
      width:20px;
      margin:5px;
      height:20px;
    }
  }
  .react-datepicker-wrapper{
    display: block !important;
  }
  .loader{
    text-align: center;
    padding:5px;
    margin-top: 20px;
  }
  @media screen and (max-width:1120px) {
    .form-page{
      width:100%;
    }
  }