<html>

<head>
    <!--jquery-->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <!--<script type="text/javascript" src="home.js"></script>-->
    <script type="text/javascript" src="{{url_for('static', filename='home.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <!--<link rel="stylesheet" href="home.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
</head>

<body onload="loadmap();">
    <center>
        <form>
            <div>
                <input type="text" id="radius" name="radius" placeholder="RADIUS"><br>
            </div>
            <div>
                <input type="button" value="Mark Coordinates" id="submit" onClick="valueassign()">
            </div>
        </form>
    </center>
    <br><br>
    <div id="map-canvas"></div>
</body>

</html>